.border {
    border: 0.3em solid #6be4ff;
    padding: 1em ;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1em 0;
    border: 0.3em solid #6be4ff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.header {
    margin-bottom: 1.5em;
}



.title {
    margin: 0;
    margin-bottom: 0.3em;
}

.description {
    margin: 0;
    color: #505050;
    font-size: 0.9rem;
}

.button {
    border: 0;
    padding: 0.5em 1em 0.5em;
    border-radius: 1em;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
}

.button:active {
    background-color: #404040;
}
