.border {
    border: 0.3em solid #6be4ff;
    padding: 1em ;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1em 0;
    border: 0.3em solid #6be4ff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.header {
    font-size: 1.3em;
    margin-bottom: 0.7em;
    color: #6be4ff;
}

.loading {
    animation: pulse 5s infinite;
    margin-bottom: 2em;
}

@keyframes pulse {
    0% { color: #505050; }
    50% { color: #6be4ff; }
    100% { color: #505050; }
}

.tip {
    margin-bottom: 1.5em;
    font-size: 1rem;
}

.error {
    color: #505050;
    margin-bottom: 1.5em;
}

.button {
    border: 0;
    padding: 0.5em 1em 0.5em;
    border-radius: 1em;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    display: inline-block;
}

.button:active {
    background-color: #404040;
}

.messageContainer {
    border: 0.3em solid #6be4ff;
    padding-left: 1em ;
    padding-top: 1em ;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow: auto;
}

.messageSend {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.5em;
}

.messageSendInput {
    flex-grow: 1;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 0.9rem
}

.messageSendButton {
    font-size: 0.9rem;
    margin-right:1em;
    margin-left: 0.5em;
    border: 0;
    border-radius: 1em;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5em 1em 0.5em;
}
