.message {
    border: 0.2em solid black;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 0.9rem;
    word-wrap: break-word;
    margin-bottom: 1em;
    margin-right: 1em;
}

.sender {
    color: #505050;
    word-wrap: break-word;
    margin-bottom: 0.2em;
 }

@media screen and (orientation:landscape) {
    .message {
        width: 50%;
    }
}
